@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-2">Il Tempio delle Jordan</h1>
    <p>Scopri l'iconico mondo delle scarpe Michael Jordan, dove ogni paio racconta una storia di eccellenza e stile senza tempo. Da quando MJ ha dominato il campo con le sue giocate legendarie, le sue scarpe sono diventate un simbolo di successo, passione e innovazione. Ogni modello, dalle prime Air Jordan 1 fino alle più moderne edizioni, unisce prestazioni elevate e un design che ha rivoluzionato l'industria delle sneaker. Che tu sia un appassionato di basket, un collezionista o semplicemente un fan del look urbano, nel nostro negozio troverai le scarpe che ti faranno sentire una leggenda. Benvenuti nel cuore delle Jordan, dove lo stile prende vita.</p>
    <img src="~/img/Jordan.jpg" class="w-50" alt="Alternate Text" />
</div>
